name: "Build"
on: [push, pull_request]
jobs:
  linux-clang-ASanAndUBSan-build:
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ubuntu-22.04]
        clang: [16]
    steps:
      - uses: actions/checkout@v4
        with:
            # Nix Flakes doesn't work on shallow clones
            fetch-depth: 0
      - uses: cachix/install-nix-action@v30
        with:
          extra_nix_config: |
            experimental-features = nix-command flakes ca-references
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: nix build hobbesPackages/clang-${{ matrix.clang }}-ASanAndUBSan/hobbes
        run: |
          nix build .#hobbesPackages/clang-${{ matrix.clang }}-ASanAndUBSan/hobbes
      - name: nix log hobbesPackages/clang-${{ matrix.clang }}-ASanAndUBSan/hobbes
        if: ${{ always() }}
        run: |
          nix log  .#hobbesPackages/clang-${{ matrix.clang }}-ASanAndUBSan/hobbes &> ${{ matrix.os }}-clang-${{ matrix.clang }}-ASanAndUBSan-hobbes.log
      - name: upload log ${{ matrix.os }}-clang-${{ matrix.clang }}-ASanAndUBSan-hobbes.log
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: output-log-file-${{ matrix.os }}-clang-${{ matrix.clang }}-ASanAndUBSan-hobbes
          path: ${{ matrix.os }}-clang-${{ matrix.clang }}-ASanAndUBSan-hobbes.log
  linux-clang-build:
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ubuntu-22.04]
        clang: [8, 10, 11, 12, 16]
    steps:
      - uses: actions/checkout@v4
        with:
            # Nix Flakes doesn't work on shallow clones
            fetch-depth: 0
      - uses: cachix/install-nix-action@v30
        with:
          extra_nix_config: |
            experimental-features = nix-command flakes ca-references
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: nix build hobbesPackages/clang-${{ matrix.clang }}/hobbes
        run: |
          nix build .#hobbesPackages/clang-${{ matrix.clang }}/hobbes
      - name: nix log hobbesPackages/clang-${{ matrix.clang }}/hobbes
        if: ${{ always() }}
        run: |
          nix log  .#hobbesPackages/clang-${{ matrix.clang }}/hobbes &> ${{ matrix.os }}-clang-${{ matrix.clang }}-hobbes.log
      - name: upload log ${{ matrix.os }}-clang-${{ matrix.clang }}-hobbes.log
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: output-log-file-${{ matrix.os }}-clang-${{ matrix.clang }}
          path: ${{ matrix.os }}-clang-${{ matrix.clang }}-hobbes.log
  linux-gcc-build:
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ubuntu-22.04]
        gcc: [10]
        llvm: [8, 10, 11, 12, 16]
    steps:
      - uses: actions/checkout@v4
        with:
            # Nix Flakes doesn't work on shallow clones
            fetch-depth: 0
      - uses: cachix/install-nix-action@v30
        with:
          extra_nix_config: |
            experimental-features = nix-command flakes ca-references
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: nix build hobbesPackages/gcc-${{ matrix.gcc }}/llvm-${{ matrix.llvm }}/hobbes
        run: |
          nix build .#hobbesPackages/gcc-${{ matrix.gcc }}/llvm-${{ matrix.llvm }}/hobbes
      - name: nix log hobbesPackages/gcc-${{ matrix.gcc }}/llvm-${{ matrix.llvm }}/hobbes
        if: ${{ always() }}
        run: |
          nix log  .#hobbesPackages/gcc-${{ matrix.gcc }}/llvm-${{ matrix.llvm }}/hobbes &> ${{ matrix.os }}-gcc-${{ matrix.gcc }}-llvm-${{ matrix.llvm }}-hobbes.log
      - name: upload log ${{ matrix.os }}-gcc-${{ matrix.gcc }}-llvm-${{ matrix.llvm }}-hobbes.log
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: output-log-file-${{ matrix.os }}-gcc-${{ matrix.gcc }}-llvm-${{ matrix.llvm }}
          path: ${{ matrix.os }}-gcc-${{ matrix.gcc }}-llvm-${{ matrix.llvm }}-hobbes.log
  rhel9-build:
    runs-on: ubuntu-latest
    container:
      image: redhat/ubi9:latest
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          dnf update -y
          dnf install -y gcc gcc-c++ cmake make llvm llvm-devel ncurses-devel readline-devel zlib-devel python3
      - name: Build hobbes
        run: |
          mkdir -p build && cd build
          cmake ..
          VERBOSE=1 make -j2
      - name: Test hobbes
        run: |
          cd build
          make test
      - name: Upload build logs
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: rhel9-build-logs
          path: build/
